* {
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

.movie-details-container {
  padding: 40px;
  display: flex;
  justify-content: center;
}

.movie-details-card {
  background: #ffffff;
  max-width: 900px;
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
}

/* Poster */
.movie-poster {
  width: 280px;
  height: 420px;
  object-fit: cover;
  border-radius: 10px;
}

/* Info */
.movie-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.movie-info h2 {
  font-size: 32px;
  margin-bottom: 15px;
  color: #222;
}

.description {
  font-size: 16px;
  color: #555;
  margin-bottom: 25px;
  line-height: 1.6;
}

/* Button */
.book-btn {
  width: fit-content;
  padding: 12px 24px;
  font-size: 16px;
  background: #e50914;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.book-btn:hover {
  background: #c40812;
}

/* Responsive */
@media (max-width: 768px) {
  .movie-details-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .movie-poster {
    width: 220px;
    height: 330px;
  }
}
